*.DS_Store
site
.venv
tmp
main.py
.env
docs/Slides/
fused_mkdocs/
.python-version
uv.lock
.obsidian/
references/
*.pyc
__pycache__/
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
htmlcov/
*.yaml
!pydantic_yaml_manager/examples/*.yaml